h1 {
    font-size: 15vmin;
}

.card {
    background: var(--surface-card);
    color: rgb(61, 59, 59);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-family: var(--font-family);
    font-weight: normal;
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}